body {
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 46%, rgba(179,255,174,1) 100%);
}

.content {
	padding: 30px;
  margin-top: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}